ul {
  margin-left:auto; 
  margin-right:0;
  list-style-type: none;
  
  padding: 0;
  overflow: hidden;
}


li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background-color:yellow;
}

.adv{
  display:block;
width: 250px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#advSearch{
  background-color:#4d90fe;
  color : #fff;
  border: 1px solid #3079ed;
}